@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    cyan 20%,
    pink 40%,
    purple 60%,
    cyan 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
