@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    rgb(0, 117, 117) 20%,
    blue 40%,
    purple 60%,
    rgb(0, 117, 117) 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.animate-opacity {
  animation: animate-opacity 4s linear forwards;
}
.animate-opacity-in {
  animation: animate-opacity-in 0.5s linear forwards;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}
@keyframes animate-opacity {
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-opacity-in {
  20% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
